/* styles.css */
.custom-button {
  background-color: blue;
  color: white;
}


.custom-grid-item {
  border-radius: 5px; /* 设置圆角 */
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2); /* 设置阴影 */
  padding: 10px; /* 设置内边距 */
  margin: 10px; /* 设置外边距 */
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20px;
}
